<section class="section">
    <div class="columns">

     <% @dogs.each do |dog| %>
        <div class = "column is-one-fifth">
            <% if dog.avatar.attached? %>
              <image src="<%=(url_for(dog.avatar))%>"> 
            <% else %>
            <%=image_tag("defaultdog.png")%>
             <% end %> 
            <p> Name: <%= link_to dog.name, dog %> </p>
            <p> City: <%= dog.city %> </p>
            <p> Bio: <%= dog.bio %> </p>
        </div>
    <% end %>

    </div>        
</section>