<section class="section">
    <div class="container">

        <h1 class ='title is-1'>This is the show page for <%= @dog.name %>. </h1>
          <% if @dog.avatar.attached? %>
            <image src="<%=(url_for(@dog.avatar))%>">
          <% end %>
        <div class="columns">
            <div class="column is-one-fifth">
                <%= link_to "Edit this Dog", edit_dog_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Cats", cats_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Dogs", dogs_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Delete this dog", dog_path, method: :delete, :class => 'button is-fullwidth is-danger' %>
            </div>
        </div>

        <p> Name: <%= @dog.name %> </p>
        <p> Age: <%= @dog.age %> </p>
        <p> City: <%= @dog.city %> </p>
        <p> Breed: <%= @dog.breed %> </p>
        <p> Bio: <%= @dog.bio %> </p>
        <p> Temperament: <%= @dog.temperament %> </p>


        <%= render 'comments/form' %>
    </div>
</section>
