<section class="section">
    <div class="container">

        <h1 class ='title is-1'>This is the show page for <%= @dog.name %>. </h1>
          <% if @dog.avatar.attached? %>
            <image src="<%=(url_for(@dog.avatar))%>">
          <% end %>
        <div class="columns">
            <div class="column is-one-fifth">
                <%= link_to "Edit this Dog", edit_dog_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Cats", cats_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Dogs", dogs_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Delete this dog", dog_path, method: :delete, :class => 'button is-fullwidth is-danger' %>
            </div>
        </div>

        <p> Name: <%= @dog.name %> </p>
        <p> Age: <%= @dog.age %> </p>
        <p> City: <%= @dog.city %> </p>
        <p> Breed: <%= @dog.breed %> </p>
        <p> Bio: <%= @dog.bio %> </p>
        <p> Temperament: <%= @dog.temperament %> </p>


        <!-- Comment stream -->

        <h1 class="title"> comments </h1>

        <% @dog.comments.each do |comment| %>
             <p><%= comment.content %> - from: <%= comment.cat.username %> </p>
        <% end %>

        <!-- Comment form -->
        <% if flash[:errors] %> 
            <ul>
                <% flash[:errors].each do |err| %>
                <li><%= err %></li>
                <%end%>
            </ul>
        <% end%>

        <%= form_for @comment do |f| %>
            <% if @current_cat %>
                <%= f.hidden_field :dog_id, value: @dog.id %>
                <%= f.hidden_field :cat_id, value: @current_cat.id %>

                <div class="field">
                    <label class="label"><%= f.label :content, "Comment" %></label>
                        <div class="control">
                            <%= f.text_area :content, :class => 'textarea' %>
                        </div>
                </div>


                <div class="columns">
                    <div class="column is-one-fifth">
                        <%= f.submit :class => 'button is-fullwidth is-primary' %>
                    </div>
                    <div class="column is-one-fifth">
                        <%= link_to "Cancel", comments_path, :class => 'button is-fullwidth' %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</section>
