<%= form_for @comment do |f| %>
    <% if @current_dog %>
        <%= f.hidden_field :dog_id, value: @current_dog.id %>
        <%= f.hidden_field :cat_id, value: @cat.id %>

        <div class="field">
            <label class="label"><%= f.label :content, "Comment" %></label>
                <div class="control">
                    <%= f.text_area :content, :class => 'textarea' %>
                </div>
        </div>


        <div class="columns">
            <div class="column is-one-fifth">
                <%= f.submit :class => 'button is-fullwidth is-primary' %>
            </div>
        </div>
    <% end %>
<% end %>