<h1>Edit a Cat</h1>

<% if flash[:message] %>
<%= flash[:message] %>
<% end %>

<%= form_for @cat do |f| %>

<%= f.label :age %>
<%= f.number_field :age %>

<%= f.label :city %>
<%= f.text_field :city %>

<%= f.label :breed %>
<%= f.text_field :breed %>

<%= f.label :bio %>
<%= f.text_field :bio %>

<%= f.label :temperament %>
<%= f.text_field :temperament %>


<%= f.submit %>
<% end %>
