<section class="section">
    <div class="container">


        <h1 class="title is-1">This is the show page for <%= @cat.name %>. </h1>

        <% if @cat.avatar.attached? %>
          <image src="<%=(url_for(@cat.avatar))%>">
        <% end %>

        <div class="columns">
            <div class="column is-one-fifth">
                <%= link_to "Edit this Cat", edit_cat_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Cats", cats_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Dogs", dogs_path, :class => 'button is-fullwidth is-primary' %>
            </div>
            <div class="column is-one-fifth">
                <%= link_to "Delete this Cat", cat_path, method: :delete, :class => 'button is-fullwidth is-danger' %>
            </div>
        </div>

        <p> Name: <%= @cat.name %> </p>
        <p> Age: <%= @cat.age %> </p>
        <p> City: <%= @cat.city %> </p>
        <p> Breed: <%= @cat.breed %> </p>
        <p> Bio: <%= @cat.bio %> </p>
        <p> Temperament: <%= @cat.temperament %> </p>


        <%= render 'comments/form' %>
    </div>
</section>
