<!DOCTYPE html>
<html>
  <head>
    <title>CatsAndDogs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bulma', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <!-- nav bar -->

      <nav class="navbar is-light">
          <% if @current_dog%>
              <% if @current_dog.avatar.attached? %>
                <div class ="navbar-brand">
                    <a href="<%= dog_path(@current_dog.id)%>"><img class="header-image" src="<%=(url_for(@current_dog.avatar))%>"</a>
                    <%else%>
                    <a href="<%= dog_path(@current_dog.id)%>"><img class="header-image" src="<%= asset_path('defaultdog.png')%>"></a>
                </div>
              <% end %>
          <% elsif @current_cat %>
              <% if @current_cat.avatar.attached? %>
                <div class ="navbar-brand">
                  <a href="<%= cat_path(@current_cat.id)%>"><img class="header-image" src="<%=(url_for(@current_cat.avatar))%>"</a>
                  <%else%>
                    <a href="<%= cat_path(@current_cat.id)%>"><img class="header-image" src="<%= asset_path('defaultcat.png')%>"></a>
                </div>
              <% end %>
          <% else %>
            <div class ="navbar-brand">
              <img class="header-image" src= "<%= asset_path('c&dlogo.jpg')%>"%>
            </div>
          <% end %>


        <% if @logged_in%>
            <%= link_to "logout", "/logout", method: :delete, :class => 'button is-small is-primary' %>
        <% end %>
      </nav>


      <!-- nav bar end -->

    </header>
    <%= yield %>
  </body>
</html>
